:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
  }
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}

.body-container {
  margin: 0;
  padding: 10px;
  min-width: 320px;
  min-height: 100vh;
}

.navbar {
  border-radius: 0.5rem;
  border: 2px solid white;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .login {
    cursor: pointer;
  }

  .logout {
    cursor: pointer;
  }
}

.home-page {
  .banner {
    width: 100%;
    height: 10rem;
    border: 2px #242424 solid;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.3);
      pointer-events: none;
      box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
    }

    img {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;

      animation: slideLeft 60s linear infinite;

      @keyframes slideLeft {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-50%);
        }
      }
    }

    .title {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      padding: 1rem;

      background-color: #242424;
      border-radius: 1rem;

      box-shadow: 0 0 30px 50px rgba(0, 0, 0, 0.5);
    }
  }
  .slogan {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px white solid;
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 1rem;
  }
  .documentation-container {
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 1rem;
    min-width: 300px;
    max-width: 800px;
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;

    .navigation {
      border-right: 1px solid white;
      height: 100%;
      padding: 0.5rem;
      box-sizing: border-box;

      .option {
        font-size: 0.9rem;
        padding: 0.5rem;
        cursor: pointer;

        &.active {
          font-weight: bold;
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 0.5rem;
        }
      }
    }

    .content-container {
      height: 100%;
      overflow-y: auto;
      padding: 0.5rem;
      box-sizing: border-box;
      scrollbar-width: thin;
      scrollbar-color: gray transparent;

      .content {
        display: none;
        width: 100%;

        h1 {
          font-size: 2rem;
          margin: 0;
          padding: 0;
        }

        img {
          width: 300px;
          border: 1px white solid;
          border-radius: 1rem;
          margin: 1rem 0;
        }

        .icon {
          width: 1rem;
          margin: 0;
          padding: 0;
          border: none;
        }
        ol li ol li {
          font-size: 0.8rem;
        }
      }
      .content.active {
        display: block;
      }
    }
  }
}

// margin: 0 auto;
// min-width: 300px;
// max-width: 800px;
// display: flex;
// flex-direction: column;

// img {
//   width: 100%;
//   max-width: 300px;
//   border: 1px white solid;
//   border-radius: 1rem;
//   margin: 1rem 0;
// }
.dashboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;

    img {
      max-width: 200px;
      min-width: 100px;
      width: 20vw;
      border-radius: 50%;
      border: 2px white solid;
    }
  }

  .badge-list-container {
    display: flex;
    flex-direction: column;
    align-items: start;

    border-radius: 1rem;
    border: 1px gray solid;
    padding: 0.5rem;

    max-width: 800px;
    width: 90%;

    .loading-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      margin: 0 auto;
    }

    .loading-animation {
      width: 50px;
      height: 50px;
      animation: rotate 1s linear infinite;
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    .badge-main-add {
      width: 100%;
      img {
        width: 30px;
      }
    }

    .badge-item {
      display: grid;
      grid-template-columns: 1fr 30px 50px 100px 30px;
      width: 100%;
      padding: 0.5rem 0;

      border-top: 2px white solid;

      .rename-area {
        input {
          border: none;
          border-bottom: 1px solid gray;
          outline: none;
          background-color: transparent;
          color: #fff;

          &:focus {
            border-bottom-color: #bbb;
          }
        }
        .button-panel {
          //border: 1px white solid;
          margin-top: 0.3rem;
          button {
            background-color: #242424;
            color: #fff;
            border: 1px solid #fff;
            padding: 0.3rem 0.6rem;
            border-radius: 0.5rem;
            cursor: pointer;
            font-size: 0.8rem;
            font-weight: bold;
            margin-right: 0.5rem;
          }

          .error-message {
            color: red;
            margin: 0.5rem 0 0;
            font-size: 0.7rem;
          }
        }
      }
      .badge-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        white-space: nowrap;
      }

      .badge-update {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        img {
          width: 30px;
          height: 30px;
        }
      }

      .badge-copy-url {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        img {
          width: 30px;
          height: 30px;
        }
      }

      .badge-preview {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .loading-animation {
          width: 50px;
          height: 50px;
          animation: rotate 1s linear infinite;
        }

        @keyframes rotate {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
        .image-container {
          width: 30px;
          height: 30px;
          position: relative;
          //border: 1px red solid;

          img {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 2;
          }

          .background-panel {
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
            z-index: 1;

            border-radius: 0.5rem;

            img {
              width: 100%;
              height: 100%;
              border-radius: 0.5rem;
            }
          }
        }
      }

      .badge-delete {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .badge-add-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content {
      display: flex;
      flex-direction: column;
      align-items: start;

      background: #242424;
      border-radius: 1rem;
      border: 1px gray solid;
      padding: 1rem;
      width: 80%;
      max-width: 600px;

      form {
        width: 100%;
        .title-area {
          font-weight: bold;
          font-size: 1.5rem;
        }
        .name-area {
          font-size: 1rem;
          input {
            border: none;
            border-bottom: 1px solid gray;
            outline: none;
            background-color: transparent;
            color: #fff;

            &:focus {
              border-bottom-color: #bbb;
            }
          }
        }
        .drag-drop-area {
          width: 150px;
          height: 100px;
          border-style: dashed solid;
          border-radius: 1rem;
          margin: 0.5rem 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          text-align: center;

          img {
            max-width: 50px;
            max-height: 50px;
            width: 60%;
            height: 60%;
          }

          span {
            font-size: 0.7rem;
          }
        }

        .drag-drop-area.dragging {
          background-color: rgba(255, 255, 255, 0.1);
        }

        .error-message {
          color: red;
          margin: 0.5rem 0 0;
          font-size: 0.7rem;
        }

        .button-panel {
          margin-top: 1rem;
          width: 100%;
          // border: 1px white solid;

          display: flex;
          justify-content: space-between;

          button {
            background-color: #242424;
            color: #fff;
            border: 1px solid #fff;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            cursor: pointer;
            font-size: 0.8rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.default-badge-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .loading-animation {
    width: 50px;
    height: 50px;
    animation: rotate 1s linear infinite;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .badge-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;

    border-radius: 1rem;
    border: 1px gray solid;

    max-width: 800px;
    width: 90%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 33.33%;
      width: 1px;
      background-color: gray;
      transform: translateX(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 66.66%;
      width: 1px;
      background-color: gray;
      transform: translateX(-50%);
    }

    .badge-item {
      display: grid;
      grid-template-columns: 1fr 30px 30px;
      grid-template-rows: 1fr;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid gray;

      height: 50px;

      padding: 0.5rem;

      &:nth-last-child(-n + 2) {
        border-bottom: none;
      }

      .badge-name {
        font-size: 0.8rem;
        max-width: 100px;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: thin;
        scrollbar-color: gray transparent;
      }

      .badge-copy-url {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        img {
          width: 24px;
          height: 24px;
        }
      }

      .badge-preview {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

.unauthorized-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footerbar {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 1500px;
  height: 100%;

  color: white;

  .profile-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-width: 360px;
    max-width: 400px;
    height: 90%;

    border-radius: 8px;
    padding: 20px;
    background-color: #353535;
    color: white;
    box-shadow: inset 0 0 10px black;

    .name-field {
      padding-left: 20px;

      font-size: 1.5rem;
      img {
        width: 40px;
        border-radius: 50%;
        margin: 0 20px 0 0;
        box-shadow: 0 0 10px black;
      }
    }
    .email-field {
      padding-left: 20px;
      margin: 5px 0px 10px 0px;
      font-size: 0.8rem;

      font-size: 1rem;
    }
    .links-field {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      img {
        width: 40px;
        border-radius: 50%;
        margin: 0px 10px;
        box-shadow: 0 0 10px black;
      }
    }
  }
}

@media (max-width: 700px) {
  .default-badge-page {
    .badge-container {
      grid-template-columns: 1fr 1fr;

      &::before {
        left: 50%;
        transform: translateX(-50%);
      }

      &::after {
        display: none;
      }
    }
  }
}
